* text=auto
*.sh text eol=lf
*.py text eol=lf
*.lean text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
lean-toolchain text eol=lf
LICENSE text eol=lf
